<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>
            Active Arena
        </title>
    </head>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="/js/script.js"></script>
    <body>
        {{{body}}}
    <footer>&copy; Copyright 2020 Active Arena</footer>        
    </body>
</html>