<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src='https://kit.fontawesome.com/a076d05399.js'></script>
<div class="navbar">
    <a href="/" class="home">Home</a>
  <a href="http://localhost:3000/about-us"  class="about-us">About Us</a>
  <a href="http://localhost:3000/facilities"  class="facilities-list">Facilities</a>
  <a href="http://localhost:3000/trainers"  class="trainer-list">Trainers</a>
  <a href="http://localhost:3000/membership"  class="membership">Membership</a>
  <button class="trainer" onclick="applicationRender()">Apply for trainer</button>
  <button class="register" onclick="regformRender()">Register now</button>
</div>
<div class="image-of-complex"><img src="/images/sports-complex.jpg" style="float:left;" alt="image of the sports complex"></div>
        <div class="about-us" style="margin-left: 50%;"><h1>About Us</h1><br>
        <p style="font-size:large;">We are a New Delhi based sports complex, one of the finest in the entire<br>Northern India region. With a total area of 20 acres, we rovide an array<br>of sports facilities such as swimming, atheletics, boxing, weight lifting,<br>badminton, lawn tennis, etc. With the guidance of our expert trainers, reach new heights of excellence at the sport of your choice!</p></div>
    <hr>
    <div class="contact-us" style="margin-left:50%; margin-bottom:5px; "><h1>Contact Us</h1><br>
        <p style="font-size: large;"><i class="fa fa-phone"></i>:  +91-98765-12345<br>This number is available to pick up calls from 8am to 8pm.<br><br>
        <a href="https://mail.google.com/mail/u/0/#inbox?compose=DXDwSWwwtCtrFXFJnrbckWSfbjrVkmtCNJdFMhFgdMKwqsVhfXXvWsTGgGfgNVmNJfgLpDNTgJlKQvTswtsvqNfGjdsLSlKxLXMXrwpgCfjPMWxVZRFChSNq" style="font-size: 24px; text-decoration:none; color:rgb(0, 27, 77);" class="fa fa-envelope"></a>: activearena2020@gmail.com<br><br>
        <a href="https://goo.gl/maps/RvZk6i5mkYjVMKuD8" class='fas fa-map-marker-alt' style='font-size:24px; text-decoration:none; color:rgb(0, 27, 77)'></a>: 38, Sector A Main Road, Pocket B, Sector-A, Vasant Kunj, New Delhi.</p></div>