<div class="navbar">
    <a href="/" class="home">Home</a>
  <a href="http://localhost:3000/about-us"  class="about-us">About Us</a>
  <a href="http://localhost:3000/facilities" class="facilities-list">Facilities</a>
  <a href="http://localhost:3000/trainers"  class="trainer-list">Trainers</a>
  <a href="http://localhost:3000/membership"  class="membership">Membership</a>
  <button class="trainer" onclick="applicationRender()">Apply for trainer</button>
  <button class="register" onclick="regformRender()">Register now</button>
</div>

<link rel="stylesheet" href="/css/facilities.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <div id="swimming">
        <img src="/images/swimming.jpg" style="float:left;"></div>
        <div class="swimming" style="margin-left: 50%;"><br><h1>Swimming</h1><br>
        <p style="font-size:large;">The swimming pool here at Active Arena is 50m in length and<br>25m in width. The deep end of the pool has a depth of 3m<br>(sufficient for diving).</p>
        <br><p style="font-size:large;"><b style="font-size:36px">&#9788;</b> Morning: 6:00am - 11:00am<br>
        &nbsp;<b style="font-size:36px">&#9790;</b>&nbsp;&nbsp;Evening: 4:00am - 9:00am</p>
</div><br>
    <hr>

<div id="athletics">
        <img src="/images/athletics.jpg" style="float:left;width:50%"></div>
        <div class="swimming" style="margin-left: 50%;"><br><h1>Athletics</h1><br>
        <p style="font-size:large;">The athletics facilities here at Active Arena are top of the state.<br>Our track field is comprised 2 semicircles, each with a radius of<br>40m, which are joined by two straights, each 80m in length. The<br>track has 5 lanes each of width of 1m.</p>
        <br><p style="font-size:large;"><b style="font-size:36px">&#9788;</b> Morning: 5:00am - 10:00am<br>
        &nbsp;<b style="font-size:36px">&#9790;</b>&nbsp;&nbsp;Evening: 4:00pm - 9:00pm</p>
</div><br><br>
    <hr>

    <div id="boxing">
        <img src="/images/boxing.jpg" style="float:left;width:50%"></div>
        <div class="swimming" style="margin-left: 50%;"><br><h1>Boxing</h1>
        <p style="font-size:large;">Besides a 20 feet boxing ring, the boxing facilities here at<br>Active Arena include all the safety equipments such as<br>boxing bags, gloves, protective gear, boxing pads and headgear.<br>Weight training is also provided along with efficint medical help<br>available in case of any mishappening.Individual equipments<br>can be bought as well as rented.</p>
        <br><p style="font-size:large;"><b style="font-size:36px">&#9788;</b> Morning: 6:00am - 11:00am<br>
        &nbsp;<b style="font-size:36px">&#9790;</b>&nbsp;&nbsp;Evening: 4:00pm - 9:00pm</p>
</div><br>
    <hr>

    <div id="badminton">
        <img src="/images/badminton-in.jpg" style="float:left;"></div>
        <div class="swimming" style="margin-left: 50%;"><br><h1>Badminton</h1><br>
        <p style="font-size:large;">The badminton facilities at Active Arena are top of the state.<br>We have in total 4 indoor Badminton courts that are approximately<br>13.4m long and 6.1m wide. Equipments such as badminton rackets<br>and shuttlecocks are available too.</p>
        <br><p style="font-size:large;"><b style="font-size:36px">&#9788;</b> Morning: 6:00am - 11:00am<br>
        &nbsp;<b style="font-size:36px">&#9790;</b>&nbsp;&nbsp;Evening: 4:00am - 9:00am</p>
</div><br>
    <hr>

<div id="shooting">
        <img src="/images/shooting.jpeg" style="float:left;width:50%"></div>
        <div class="swimming" style="margin-left: 50%;"><br><h1>Shooting</h1><br>
        <p style="font-size:large;">We at Active Arena have top class shooting facilities. Targets<br>for rifle or pistol shooting are kept at a distance of 10m from<br>the Firing line. Between the firing line and spectators area,<br>3m to 5m distance is kept.</p>
        <br><p style="font-size:large;"><b style="font-size:36px">&#9788;</b> Morning: 7:00am - 9:00am<br>
        &nbsp;<b style="font-size:36px">&#9790;</b>&nbsp;&nbsp;Evening: 5:00pm - 8:00pm</p>
</div><br>
    <hr>

    <div id="lawn-tennis">
        <img src="/images/lawn-tennis.jpg" style="float:left;width:50%"></div>
        <div class="swimming" style="margin-left: 50%;"><br><h1>Lawn Tennis</h1>
        <p style="font-size:large;">The lawn tennis courts here are in an immaculate state.<br>We have in total 3 outdoor courts - two singles and one doubles<br>court - that are 24m long. Singles court is 8.2m wide and doubles<br>court is 11m wide. Equipments such as tennis rackets and tennis<br>balls are available too.</p>
        <br><p style="font-size:large;"><b style="font-size:36px">&#9788;</b> Morning: 6:00am - 11:00am<br>
        &nbsp;<b style="font-size:36px">&#9790;</b>&nbsp;&nbsp;Evening: 4:00pm - 9:00pm</p>
</div><br>
    <hr>

    <div id="gymnastics">
        <img src="/images/gymnastics.jpg" style="float:left;width:50%"></div>
        <div class="swimming" style="margin-left: 50%;"><br><h1>Gymnastics</h1><br>
        <p style="font-size:large;">The gymnastic facilities here at Active Arena includes both<br>performance areas as well as the gymnastic bars. The main<br>performance area is 12m x 12m. The facilities also include<br>the vaults, uneven bars, and the beams too. Medical help<br>for emergency situations is readily available.</p>
        <br><p style="font-size:large;"><b style="font-size:36px">&#9788;</b> Morning: 5:00am - 10:00am<br>
        &nbsp;<b style="font-size:36px">&#9790;</b>&nbsp;&nbsp;Evening: 4:00pm - 8:00pm</p>
</div><br><br>
    <hr>

    <div id="wrestling">
        <img src="/images/wrestle.jpg" style="float:left;width:50%"></div>
        <div class="swimming" style="margin-left: 50%;"><br><h1>Wrestling</h1>
        <p style="font-size:large;">The wrestling facilities at Active Arena are sure help the<br>person perpare for national and international competitions.<br>The circular mat is 9m in diameter and has a border of 1.5m,<br>similar to the dimesions for an Olympic match. Weight<br>training is also provided along with efficint medical<br>help available in case of any mishappening.</p>
        <br><p style="font-size:large;"><b style="font-size:36px">&#9788;</b> Morning: 5:00am - 10:00am<br>
        &nbsp;<b style="font-size:36px">&#9790;</b>&nbsp;&nbsp;Evening: 4:00pm - 8:00pm</p>
</div>