
<link rel="stylesheet" href="/css/home.css">
<div class="navbar">
    <a href="/" class="home">Home</a>
  <a href="http://localhost:3000/about-us"  class="about-us">About Us</a>
  <a href="http://localhost:3000/facilities" class="facilities-list">Facilities</a>
  <a href="http://localhost:3000/trainers"  class="trainer-list">Trainers</a>
  <a href="http://localhost:3000/membership"  class="membership">Membership</a>
  <button class="trainer" onclick="applicationRender()">Apply for trainer</button>
  <button class="register" onclick="regformRender()">Register now</button>
</div> 
<div class="description" >
    <img class="logo" src="/images/logo.png">
    <p class="desc">One of the biggest sports complex of the region,<br>Active Arena is home to some of the greatest champions<br>of the nation. Spread across over 50 acres, with a wide<br>range of sports, we have some of the finest trainers to help<br>provide amazing skills to the future sportstars of the country.</p>
</div>


<div class="membership-types">
    <table style="width:65%; margin-left:5%">
        <tr>
            <td><h1>Membership Types</h1>
    <span class="mem"><p>Three different memberships are available:<br></p>
    <ul>
        <li>Premium Membership</li>
        <li>Annual Membership</li>
        <li>Semi-Annual Membership</li>
    </ul></span></td>
            <td><img src="/images/membership.png" style="margin-left:50%;height: 19em;"></td>
        </tr>
    </table>
</div>

<div class="facilities-types">
    <img src="/images/facilities.jpg" style="width:500px;float:left;padding-left:20px;padding-top:15px">
    <h1 >Facilities</h1><span><p>8 different sports are available for registration<br>at Active Arena:<br></p>
    <ul>
        <li>Swimming</li>
        <li>Atheletics</li>
        <li>Boxing</li>
        <li>Badminton</li>
        <li>Shooting</li>
        <li>Lawn Tennis</li>
        <li>Gymnastics</li>
        <li>Wrestling</li>
    </ul></span>
    </div>
<div class="motto">
    <table>
        <tr>
            <th style="font-size: 150px;">&#8220;</th>
            <th style="font-size: 30px;"><i>It's not whether you get knocked down;<br>It's whether you get up.<br><br>- Vince Lombardi</i></th>
            <th style="font-size: 150px;">&#8221;</th>
        </tr>
    </table>
</div>
    <div class="reviews"><h1>Testimonials and Reviews</h1><br>
    <table>
        <tr>
            <td><i>"I was on the track team<br>back in my school days,<br>but this place has really<br>helped me become such a<br>better athlete and win laurels!"<br><br>-Vikrant Chauhan<br>(Premium member for 3 years)<br><span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span></i></td>
            <td><i>"The facilities<br>provided by this place,<br>are really top-class!"<br><br>-Editor, Sports Daily<br><span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star"></span></i></td>
            <td><i>"Not a day goes by without<br>my kids rushing home from school,<br>simply to rush again to Active Arena.<br>They simply love it!"<br><br>-Dr. Vanya Agrawal, mother of Vaani and Varun<br>(Premium Member for 2 years)<br><span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span></i></td>
        </tr>
    </table>
    </div>


    <div class="follow-us"><h1>Follow us</h1>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <a href="https://www.facebook.com/" class="fa fa-facebook"></a>
        <a href="https://twitter.com/" class="fa fa-twitter"></a>
        <a href="https://www.linkedin.com/in/navtika-kumar-2463bb1a3/" class="fa fa-linkedin"></a>
        <a href="https://www.youtube.com/" class="fa fa-youtube"></a>
        <a href="https://www.instagram.com/" class="fa fa-instagram"></a>
    </div>

