<div class="navbar">
    <a href="/" class="home">Home</a>
  <a href="http://localhost:3000/about-us"  class="about-us">About Us</a>
  <a href="http://localhost:3000/facilities"  class="facilities-list">Facilities</a>
  <a href="http://localhost:3000/trainers"  class="trainer-list">Trainers</a>
  <a href="http://localhost:3000/membership"  class="membership">Membership</a>
  <button class="trainer" onclick="applicationRender()">Apply for trainer</button>
  <button class="register" onclick="regformRender()">Register now</button>
</div>
<link rel="stylesheet" href="/css/membership.css">
<div class="membership"><h1>Membership Plans</h1><br>
<div class="memDesc"><p>Any and every member here at Active Arena can have three different types of memberships:</p>
<ul>
  <li><b>Premium Membership</b> (permanent membership; valid until the member specifically asks to cancel it;<br>one month notice required before applying for cancellation; <b>One-time registration: Rs. 1100/-</b>)</li>
  <li><b>Annual Membership</b> (12 months long; no cancellation before the period is over)</li>
  <li><b>Semi-Annual Membership</b> (6 months long; no cancellation before the period is over)</li>
</ul><br>
<p> The charges of the various facilities provided here, according to the different membership plans, is provided herewith:</p></div>
        <table>
  <tr>
    <th></th>
    <th>Premium Membership</th>
    <th>Annual Membership</th>
    <th>Semi-annual Membership</th>
  </tr>
  <tr>
    <td><b>Swimming</b></td>
    <td>Rs.4800/- per annum</td>
    <td>Rs. 5500/-</td>
    <td>Rs. 3000/-</td>
  </tr>
  <tr>
    <td><b>Athletics</b></td>
    <td>Rs.2000/- per annum</td>
    <td>Rs. 2500/-</td>
    <td>Rs. 1800/-</td>
  </tr>
  <tr>
    <td><b>Boxing</b></td>
    <td>Rs.3000/- per annum</td>
    <td>Rs. 3500/-</td>
    <td>Rs. 2000/-</td>
  </tr>
  <tr>
    <td><b>Badminton</b></td>
    <td>Rs.3000/- per annum</td>
    <td>Rs. 3500/-</td>
    <td>Rs. 2000/-</td>
  </tr>
  <tr>
    <td><b>Shooting</b></td>
    <td>Rs.4500/- per annum</td>
    <td>Rs. 4800/-</td>
    <td>Rs. 2500/-</td>
  </tr>
  <tr>
    <td><b>Lawn Tennis</b></td>
    <td>Rs.3300/- per annum</td>
    <td>Rs. 3800/-</td>
    <td>Rs. 2200/-</td>
  </tr>
  <tr>
    <td><b>Gymnastics</b></td>
    <td>Rs.2100/- per annum</td>
    <td>Rs. 2600/-</td>
    <td>Rs. 1900/-</td>
  </tr>
  <tr>
    <td><b>Wrestling</b></td>
    <td>Rs.2000/- per annum</td>
    <td>Rs. 2500/-</td>
    <td>Rs. 1800/-</td>
  </tr>
</table></div>
       