<div class="navbar">
    <a href="/" class="home">Home</a>
  <a href="http://localhost:3000/about-us"  class="about-us">About Us</a>
  <a href="http://localhost:3000/facilities"  class="facilities-list">Facilities</a>
  <a href="http://localhost:3000/trainers"  class="trainer-list">Trainers</a>
  <a href="http://localhost:3000/membership"  class="membership">Membership</a>
  <button class="trainer" onclick="applicationRender()">Apply for trainer</button>
  <button class="register" onclick="regformRender()">Register now</button>
</div>
<br><br><br><br>
<div style="font-size:xx-large; text-align:center; color:rgb(0, 27, 77);">Thank you for applying!<br>Please mail your resume to us at<br><b>activearena2020@gmail.com</b><br>We shall contact you shortly!</div><br><br><br><br>