<div class="navbar">
    <a href="/" class="home">Home</a>
  <a href="http://localhost:3000/about-us"  class="about-us">About Us</a>
  <a href="http://localhost:3000/facilities"  class="facilities-list">Facilities</a>
  <a href="http://localhost:3000/trainers"  class="trainer-list">Trainers</a>
  <a href="http://localhost:3000/membership"  class="membership">Membership</a>
  <button class="trainer" onclick="applicationRender()">Apply for trainer</button>
  <button class="register" onclick="regformRender()">Register now</button>
</div>
<br><br><br><br>
<div style="font-size:xx-large; text-align:center; color:rgb(0, 27, 77);">Your registration form has been submitted!<br>Kindly complete the registration process by approaching<br>the payments desk at our center.</div><br><br><br><br>